

<div class="container allstudents-container">
    <a mat-raised-button color="accent" routerLink="/create-expense">
      Add Expense
    </a>
      <table mat-table [dataSource]="expense" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
         </ng-container>
     
        <ng-container matColumnDef="particular">
          <th mat-header-cell *matHeaderCellDef>Particular</th>
          <td mat-cell *matCellDef="let element">{{ element.particular }}</td>
        </ng-container>
     
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date}}</td>
        </ng-container>
  
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef>Item</th>
          <td mat-cell *matCellDef="let element">{{ element.item}}</td>
        </ng-container>

        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef>Rate</th>
            <td mat-cell *matCellDef="let element">{{ element.rate}}</td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">{{ element.total}}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Update/Delete</th>
          <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/update-expense',element.id]"
            ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
            >
            </mat-icon
          ></a>
          <mat-icon
          (click)="openDeleteModal(element.id)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
          </td>
        </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>